.app__container {
  display: flex;
  flex-direction: column;
}

.app__movielist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 25px;
  justify-content: space-evenly;
}

.app__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.app__header {
  background-color: #17223c;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
}
